.container{
  max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}
.note {
	background-color: #526d74;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}
.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
textarea{
  border: none;
  resize: none;
  background-color: #a7d1dc;
  margin: 10px;
}
textarea:focus{
  outline: none;
}
.addnote{
  background-color: #a7d1dc;
  border-radius: 10px;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 5px;
}

.save {
	background-color: #a9a0a0;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}
.save:hover{
  background-color: #4d6267;
  cursor: pointer;
}
.toggle{
  background-color: #757d7c;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}
.toggle:hover{
  background-color: #68626c;
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input{
  border: none;
  background-color: aliceblue;
}
.search input:focus{
  outline: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode{
  background-color: #383f41;
}
.footer{
  text-align: center;
  color: #666f71;
  margin-top: 55px;
}